/*
CSS RESET RULE
*/

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Frank+Ruhl+Libre&family=Roboto+Flex:wght@100;400&display=swap');


*{
	font-family: 'Roboto Flex', sans-serif;
	font-weight: 400;
	font-size: 20px;
}

h1 {
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 100;
}

/*NAVBAR CSS*/

.navbar-custom {
  height: 10vh;
  background: white;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar-mobile-menu-custom{
  margin-right: auto;
  justify-content: between;
}

.custom-navbar-brand {
  font-family: 'Frank Ruhl Libre', sans-serif;
  margin-right: auto;
  margin-left: auto;
}

.navbar-mobile-account-custom{
  margin-left: auto;
  justify-content: between;
}

.navbar-desktop-custom{
  width: 100vw;
  justify-content: space-between;
}

.navbar-desktop-products-custom{
  margin-left: 7rem;
}

.navbar-desktop-contact-custom{
  margin-right: 7rem;
}

.user-icon {
  min-width: 40px; 
}

.mobile-dropdown-menu {
  right: 0;
  max-width: 200px;
  overflow-x: auto;
}


/*ABOUTUS CSS*/

.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-text {
  flex: 1;
  text-align: justify;
}

.about-image {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.about-image img {
  height: 35rem;
  width: 100%;
}

/*BANNER CSS*/

.banner-link {
  text-decoration: none;
}

.banner-link:hover h1 {
  font-style: italic;
}

.banner-container {
  position: absolute;
  bottom: 0;
  right: 5;
  left: 0;
  padding: 10rem;
}

.homeHeader-custom {
	font-family: 'Frank Ruhl Libre', serif;
	color: white;
	font-size: 5rem;
	line-height: 70px;
}

.homeSpan-custom {
	font-family: 'Roboto Flex', sans-serif;
	font-weight: 100;
	color: white;
	font-size: 2rem
}

/*PRODUCTS CSS*/

.products-row-custom{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.global-product-card-custom {
  height: 75%;
  display: flex;
}

.global-product-card-body {
  flex-grow: 1;
  overflow: hidden;
  padding-bottom: 3rem;
}

.global-product-name-custom {
  margin-bottom: 0.5rem;
  word-wrap: break-word;
}

/*PRODUCTS LANDING PAGE*/

.custom-link{
  text-decoration: none;
  color: black;
  margin-top: 1rem;
}

.custom-link p{
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 100;
  font-size: 1.25rem;
}

.custom-link:hover {
  font-style: italic; /* Italicize on hover */
}

.card-landing {
  height: 400px;
  border-radius: 0 !important;
}

.card-image {
  position: relative;
  overflow: hidden;
  height: 100%;
  background-size: cover;
}

.card-image .card-text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card-image:hover .card-text-overlay {
  opacity: 1;
}

.card-image .card-text-overlay span {
  color: white;
  font-family: 'Frank Ruhl Libre', serif;
  font-size: 1rem;
  font-style: italic;
}

.card-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/*MEDIA CSS (RESPONSIVENESS)*/

@media (max-width: 992px) {
  .homeHeader-custom {
    font-size: 3rem;
    line-height: 60px;
  }
  .homeSpan-custom {
  	font-size: 1rem;
  }
  .banner-container {
    position: absolute;
    bottom: 0;
    right: 5;
    left: 0;
    padding: 10rem;
  }
  .navbar-desktop-products-custom{
    margin-left: 1.5rem;
  }

  .navbar-desktop-contact-custom{
    margin-right: 1.5rem;
  }
}

@media (max-width: 767px) {
  .homeHeader-custom {
    font-size: 3rem;
    line-height: 60px;
  }
  .homeSpan-custom {
  	font-size: 1rem;
  }
  .banner-container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }
}

@media (max-width: 479px) {
  .homeHeader-custom {
    font-size: 3rem;
    line-height: 60px;
  }
  .homeSpan-custom {
    font-size: 1rem;
  }
  .banner-container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }
}


